@charset "utf-8";
/********************
###### FONTS ########
*********************/
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/*******************************
###### GENERAL SETTINGS ########
********************************/
* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}
body{
    font-family: 'Do Hyeon', sans-serif;
    background-color: #f1f1f1;
    min-height: 100vh;
    width: 100%;
}
.test_font {
    font-family: 'Do Hyeon', sans-serif;
}

h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	line-height: 1.2;
}


/************************
###### LANDINGPAGE ######
*************************/
.landingpage_body {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.landingpage_wrapper,
.landingpage_anchors {
    position: absolute;
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}
.landingpage_anchors {
    top: 50%;
    left: 50%;
}

.landingpage_anchors a {
    /*background: rgba(128, 128, 128, 0.20);*/
    color: #f5f5f561;
    font-weight: 900;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    margin-top: 250px;
}
.hover_color {
    letter-spacing: 25px;
    padding: 15px 30px;
}
.hover_color:hover {
    color: whitesmoke;
    background: none;
}


/* Animation */
span:before {
    content: '';
    font-weight: 900;
    letter-spacing: 3px;
    animation: animate infinite 15s;
    text-transform: uppercase;
    font-size: 100px;
    margin-bottom: 20px;
    letter-spacing: 8px;
}

.landingpage_wrapper h2 {
    padding: 0;
    margin-bottom: 30px;
    color:#f5f5f561;
    text-shadow: 0 2px 0 rgba(0,0,0,0.5);
    font-size: 60px;
    letter-spacing: 0px;
}

.p_text {
    color: #f5f5f561;
    font-size: 40px;
}

@keyframes animate {
    0% {
        content: 'stefan brunotte';
        color: rgba(245, 245, 245, 0.65);
    }
    30% {
        content: 'a full stack developer';
        color: rgba(245, 245, 245, 0.65);
    }
    60% {
        content: 'a C# programmer';
        color: rgba(245, 245, 245, 0.65);
    }
    90% {
        content: 'a team player';
        color: rgba(245, 245, 245, 0.65);
    }
    100% {
        content: 'a proud dad';
        color: rgba(245, 245, 245, 0.65);
    }
}

/**************************
###### MEDIA QUERIES ######
***************************/


@media only screen and (min-width: 1199px) {

}
@media only screen and (min-width: 767px) and  (max-width: 991px) {

}
@media only screen and (min-width: 575px) and (max-width: 767px) {
    .landingpage_wrapper h2 {
        font-size: 45px;
    }
    span::before {
        font-size: 45px;
    }

}

@media only screen and (min-width: 360px) and (max-width: 575px) {
    .landingpage_wrapper h2 {
        font-size: 24px;
    }
    span::before {
        font-size: 30px;
    }
    .landingpage_anchors {
        top: 48%;
        left: 50%;
        letter-spacing: 25px;
    }
    .landingpage_anchors a {
        font-size: 14px;
        padding: 6px 12px;
    }
}

@media only screen and (max-width: 360px) {
    .landingpage_wrapper {
        left: 50%;
    }
    .landingpage_wrapper h2 {
        font-size: 20px;
    }
    .p_text {
        margin-bottom: 25px;

    }
    span::before {
        font-size: 20px;
    }
    .landingpage_anchors {
        top: 45%;
        left: 50%;
        letter-spacing: 25px;
    }
    .landingpage_anchors a {
        font-size: 12px;
        padding: 6px 12px;
    }
}

/* Landscape settings */ 

/* 7. 1024x768 Ipad*/
@media screen and (max-width: 1024px) and (orientation:landscape) {

}
@media screen and (max-width: 812px) and (orientation:landscape) {
    .landingpage_wrapper {
        top: 28%;
    }
    .landingpage_wrapper h2 {
        font-size: 24px;
    }
    span::before {
        font-size: 36px;
    }
    .landingpage_anchors {
        top: 62%;
        left: 50%;
        letter-spacing: 25px;
    }
}
@media screen and (max-width: 667px) and (orientation:landscape) {
    .landingpage_wrapper {
        top: 28%;
    }
    .landingpage_wrapper h2 {
        font-size: 24px;
    }
    span::before {
        font-size: 36px;
    }
    .landingpage_anchors {
        top: 62%;
        left: 50%;
        letter-spacing: 25px;
    }
}
@media screen and (max-width: 568px) and (orientation:landscape) {

}
