@charset "utf-8";
/********************
###### FONTS ########
*********************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,400;1,500&display=swap');

/*******************************
###### GENERAL SETTINGS ########
********************************/
html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}
::before, ::after {
    box-sizing: inherit;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #D9B08C;
    min-height: 100vh;
    width: 100%;
    line-height: 1.3;
}
/*div {
	display: block;
	position: relative;
}
section {
	display: block;
	position: relative;
}*/
ul {
	list-style: none;
	margin-bottom: 0px;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    text-decoration-skip-ink: auto;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    position: relative;
    color: inherit;
    display: inline-block;
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	line-height: 1.2;
}

/****************************
###### SIDE CONTAINERS ######
****************************/
.side_container_social {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: black;
    list-style: outside none none;
}
.side_container_social::after,
.side_container_email::after {
    content: "";
    display: block;
    width: 2px;
    height: 200px;
    margin: 0 auto;
    background-color: black;
}
.side_container_email {
    width: 40px;
    position: fixed;
    bottom: 0px;
    right: 40px;
    z-index: 10;
    color: black;
    list-style: outside none none;
}
.side_img {
    margin: 0px 0px 20px;
}
.side_img,
.email_img {
    width: 24px;
    height: 24px;
}
.arrow_img {
    width: 24px;
    height: 24px;
}
.social_side_list {
    text-align: center;
    cursor: pointer;
}
.email_link {
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
}
.email_anchor {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.1em;
    margin: 20px auto;
    writing-mode: vertical-rl;
}
.social_link:hover,
.email_anchor:hover {
    transform: translateY(-5px);
}
.email_anchor:hover {
    font-weight: 500;
}
/********************
###### MAIN PAGE ######
*********************/

/***** Root container *****/
.main_container {
    /* display: grid;
    grid-template-columns: 100px repeat(12, 1fr) 100px; */
    padding: 200px 150px 10px 150px;
}

/***** First container (landingpage) *****/
.first_container {
    margin: 0px auto;
    padding: 0px;
    -moz-box-pack: center;
    -moz-box-align: center;
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    height: calc(100vh - 10px);
    max-width: 1000px;
}
.title_left {
    color: black;
    margin: 0px 0px 20px 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.name {
    font-size: 80px;
    line-height: 1.1;
    margin: 0px;
}

.name_text {
    margin-top: 25px;
    width: 100%;
    max-width: 1000px;
}
.name_p {
    margin-top: 25px;
    width: 50%;
    max-width: 500px;
}

/***** Crocked images *****/

/*  justify-* is the ROW y-axis (top to bottom)
    align-* is the COLUMN x-axis (left to right)
*/
.welcome_container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 300px 50px;
    justify-items: center;
    align-items: center;
    padding: 80px 0px 0px;
}
/*.title {
    grid-column: 3 / -1;
    top: 50px;
    width: 100%;
    height: 50px;
    font-size: 28px;
    font-weight: 300;
    text-transform: capitalize;
    position: relative;
}
.title::after {
    content: '';
    color: black;
    width: 40%;
    border-bottom: solid 2px black;
    position: absolute;
    top: 40%;
    line-height: 1.3;
    margin-left: 25px;
    z-index: 1;
}
.title_text {
    grid-column: 3 / 9;
    grid-row: 3 / 4;
    font-size: 28px;
    line-height: 1.3;
    align-self: start;

}
.my_name_is {
    grid-column: 8 / 8;
    grid-row: 2;
    font-size: 16px;
    z-index: 2;
    justify-items: start;
}
.my_name {
    grid-column: 3 / 8;
    grid-row: 3;
    font-size: 80px;
    z-index: 3;
}
.my_name_text {
    grid-column: 3 / 12;
    grid-row: 4;
    font-size: 80px;
    z-index: 4;
}*/
.wos,
.vac,
.foo {
    height: 200px;
    color: white;
    font-weight: 900;
    background-color: white;
    align-self: end;
    cursor: pointer;
    -webkit-box-shadow: 20px 15px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px 15px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 20px 15px 5px 0px rgba(0,0,0,0.75);

}
.wos_grid {
    grid-column: 1 / 6;
    grid-row: 1;
    transform: rotate(-15deg);
    z-index: 103;
    justify-content: center;
}
.vac_grid {
    grid-column: 6 / 9;
    grid-row: 1;
    transform: rotate(9deg);
    z-index: 102;
}
.foo_grid {
    grid-column: 8 / 13;
    grid-row: 1;
    transform: rotate(-10deg);
    z-index: 101;
}
.arrow_down {
    font-size: 38px;
    transform: rotate(90deg);
    grid-column: 1 / -1;
    grid-row: 2;
}

.arrow_up {
    color: black;
    background-color:rgb(217, 176, 140);
    border: none;
    font-size: 15px;
    height: 35px;
    transform: rotate(-90deg);
}
#back-to-top-btn {
    display:none;
    position: fixed;
    bottom: 60%;
    right: -20px;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}
#back-to-top-btn:hover,
#back-to-top-btn:focus {
    font-weight: 900;
}
/***** Contact section *****/
.contact_section {
    text-align: center;
    height: calc(100vh - 25px);
}
.section_header {
    width: 100%;
    height: 50px;
    margin: 50px 0;
    text-align: center;
    font-size: 28px;
    position: relative;
}

.section_header:after {
    content: '';
    width: 100%;
    border-bottom: solid 1px black;
    position: absolute;
    left: 0;
    top: 66%;
    z-index: 1;
}
.section_header_h1 {
    background-color: #D9B08C;
    width: auto;
    display: inline-block;
    z-index: 3;
    padding: 0 20px 0 20px;
    color: black;
    position: relative;
    font-weight: 400;
    margin: 0;
}
.contact_email_img {
    content: url(/img/email150x150.png);
    width: 100px;
    height: 100px;
    margin-top: 25px;
}
.contact_img:hover {
    border-bottom: 2px solid black;
    transform: translateY(-5px);
}
.contact_email_img:hover {
    content: url(/img/email_open170x170.png);
}
.contact_img {
    width: 50px;
    margin: 25px 25px 0px;
    padding-bottom: 10px;
}
.p_text {
    margin-bottom: 10px;
}
.p_text span {
    font-weight: 900;
}
.strong {
    font-weight: 900;
}

/***** Footer section *****/
.footer {
    text-align: center;
    font-size: 8px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/***** MEIDA QUERIES *****/

@media(max-width:992px) {
    #back-to-top-btn { font-size: 22px; width: 40px; height: 40px; bottom: 15px; right: 15px; }
}
@media(max-width:768px) {
    #back-to-top-btn { font-size: 18px; width: 32px; height: 32px; bottom: 6px; right: 6px; }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-12 20:39:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
.fade-in300 {
	-webkit-animation: fade-in300 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 100ms both;
	        animation: fade-in300 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 100ms both;
}
.fade-in500 {
	-webkit-animation: fade-in2500500ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 500ms both;
	        animation: fade-in500 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 500ms both;
}
.fade-in800 {
	-webkit-animation: fade-in800 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 800ms both;
	        animation: fade-in800 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 800ms both;
}

@-webkit-keyframes fade-in300 {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
}
@keyframes fade-in300 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in500 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }
 @keyframes fade-in500 {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }
 @-webkit-keyframes fade-in800 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }
 @keyframes fade-in800 {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }
