@charset "utf-8";
/********************
###### FONTS ########
*********************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,400;1,500&display=swap');

/*******************************
###### GENERAL SETTINGS ########
********************************/
html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}
::before, ::after {
    box-sizing: inherit;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #D9B08C;
    min-height: 100vh;
    width: 100%;
    line-height: 1.3;
}
/*div {
	display: block;
	position: relative;
}
section {
	display: block;
	position: relative;
}*/
ul {
	list-style: none;
	margin-bottom: 0px;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    text-decoration-skip-ink: auto;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    position: relative;
    color: inherit;
    display: inline-block;
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	line-height: 1.2;
}

/****************************
###### SIDE CONTAINERS ######
****************************/
.side_container_social {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: black;
    list-style: outside none none;
}
.side_container_social::after,
.side_container_email::after {
    content: "";
    display: block;
    width: 2px;
    height: 200px;
    margin: 0 auto;
    background-color: black;
}
.side_container_email {
    width: 40px;
    position: fixed;
    bottom: 0px;
    right: 40px;
    z-index: 10;
    color: black;
    list-style: outside none none;
}
.side_img {
    margin: 0px 0px 20px;
}
.side_img,
.email_img {
    width: 24px;
    height: 24px;
}
.arrow_img {
    width: 24px;
    height: 24px;
}
.social_side_list {
    text-align: center;
    cursor: pointer;
}
.email_link {
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
}
.email_anchor {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.1em;
    margin: 20px auto;
    writing-mode: vertical-rl;
}
.social_link:hover,
.email_anchor:hover {
    transform: translateY(-5px);
}
.email_anchor:hover {
    font-weight: 500;
}
/********************
###### MAIN PAGE ######
*********************/

/***** Root container *****/
.main_container {
    /* display: grid;
    grid-template-columns: 100px repeat(12, 1fr) 100px; */
    padding: 200px 150px 10px 150px;
}

/***** First container (landingpage) *****/
.first_container {
    margin: 0px auto;
    padding: 0px;
    -moz-box-pack: center;
    -moz-box-align: center;
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    height: calc(100vh - 200px);
    max-width: 1000px;
}
.title_left {
    color: black;
    margin: 0px 0px 20px 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.name {
    font-size: 80px;
    line-height: 1.1;
    margin: 0px;
}

.name_text {
    margin-top: 25px;
    width: 100%;
    max-width: 1000px;
}
.name_p {
    margin-top: 25px;
    width: 50%;
    max-width: 500px;
}

/* Crocked images */
/*  justify-* is the ROW y-axis (top to bottom)
    align-* is the COLUMN x-axis (left to right)
*/
.welcome_container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 300px 50px;
    justify-items: center;
    align-items: center;
    padding: 80px 0px 0px;
}
.wos,
.vac,
.foo {
    max-width: 100%;
    height: auto;
    color: white;
    font-weight: 900;
    background-color: white;
    align-self: end;
    cursor: pointer;
    -webkit-box-shadow: 20px 15px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px 15px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 20px 15px 5px 0px rgba(0,0,0,0.75);

}
.wos_grid {
    grid-column: 1 / 6;
    grid-row: 1;
    transform: rotate(-15deg);
    z-index: 103;
    justify-content: center;
}
.vac_grid {
    grid-column: 4 / 9;
    grid-row: 1;
    transform: rotate(9deg);
    z-index: 102;
}
.foo_grid {
    grid-column: 8 / 13;
    grid-row: 1;
    transform: rotate(-10deg);
    z-index: 101;
}
.arrow_down {
    font-size: 38px;
    transform: rotate(90deg);
    grid-column: 1 / -1;
    grid-row: 2;
}

.arrow_up {
    color: black;
    background-color:rgb(217, 176, 140);
    border: none;
    font-size: 15px;
    height: 35px;
    transform: rotate(-90deg);
}
#back-to-top-btn {
    display:none;
    position: fixed;
    bottom: 60%;
    right: -20px;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}
#back-to-top-btn:hover,
#back-to-top-btn:focus {
    font-weight: 900;
}
/***** Meet me section *****/
.meet_me_header {
    text-align: center;
}
.meet_me_header_h3 {
    margin: 0 0 25px;
}
.meet_me_header_p {
    width: 80%;
    margin: 0 auto;
    font-style: italic;
    font-family: 'Fauna One', serif;
    font-weight: 900;
    text-align: center;
    line-height: 36px;
    margin-bottom: 25px;
}
.meet_me_header_p::before {
    content: open-quote;
    font-size: 35px;
}
.meet_me_header_p::after {
    content: close-quote;
    font-size: 35px;
}
/* Parent grid */
.meet_me_grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(6, auto);
}

/* Subgrid left */
.mm_exp_grid {
    display: grid;
    grid-gap: 5px 15px;
    grid-template-columns: repeat(4, minmax(10px, auto));
    grid-template-rows: repeat(2, auto);
    grid-column: 1/13;
    grid-row: 2;
}
.meet_me_header_left {
    grid-column: 1/12;
    grid-row: 1;
    text-align: start;
}
.exp_software_header { 
    grid-column: 1/6;
    grid-row: 1;
}
.exp_software_header,
.exp_frame_lib_header,
.exp_source_control_ide_header,
.exp_db_header {
    align-self: end;
}
.exp_software_header:hover,
.exp_frame_lib_header:hover,
.exp_source_control_ide_header:hover,
.exp_db_header:hover {
    font-size: 13px;
}
.sw_li { 
    grid-column: 1/6;
    grid-row: 2;
}
.exp_frame_lib_header {
    grid-column: 3/5;
    grid-row: 1;
}
.fw_li {
    grid-column: 3/5;
    grid-row: 2;
}
.exp_source_control_ide_header {
    grid-column: 5/7;
    grid-row: 1;
}
.sc_li {
    grid-column: 5/7;
    grid-row: 2;
}
.exp_db_header {
    grid-column: 7/9;
    grid-row: 1; 
}
.db_li {grid-column: 7/9;
    grid-row: 2;
}
.sw_li,
.fw_li,
.sc_li,
.db_li {
    font-size: 10px;
}
/* right side */
/* grid qualities */
.qualities_grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(12, minmax(10px, auto));
    grid-template-rows: repeat(12, auto);
    grid-column: 14/-1;
    grid-row: 4;
}
.my_qualities {
    grid-column: 1/12;
    grid-row: 1;
    margin-top: 55px;
}
.q_list_item {
    background-color: transparent;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    margin: 2px;
    padding: 5px 10px;
}
.q_list_item:hover {
    color: white;
    font-weight: 400;
    box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    font-style: italic;
    letter-spacing: 1.1px;
}
.q_list_item::before {
    content: '- '
}
.q_list_item::after {
    content: ' -'
}
.q1 { grid-column: 1/7; grid-row: 2; background-color: #846b567a;}
.q2 { grid-column: 7/-1; grid-row: 2; background-color: #846b567a;}
.q3 { grid-column: 1/6; grid-row: 6; background-color: #846b567a;}
.q4 { grid-column: 3/-3; grid-row: 3; background-color: #846b567a;}
.q5 { grid-column: 1/6; grid-row: 4; background-color: #846b567a;}
.q6 { grid-column: 6/-1; grid-row: 4; background-color: #846b567a;}
.q7 { grid-column: 2/11; grid-row: 5; background-color: #846b567a;}
.q8 { grid-column: 6/-1; grid-row: 6; background-color: #846b567a;}

.quality_lefty,
.quality_righty {
    display: grid;
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    line-height: 28px;
    letter-spacing: 1.5px;
}
.quality_leftz {
    grid-column: 1/5;
    grid-row: 2;
}
.quality_rightz {
    grid-column: 20/24;
    grid-row: 5/7;
}

.meet_me_header_right {
    grid-column: 14/24;
    grid-row: 1;
    text-align: start;
}
.prof_text {
    grid-column: 14/24;
    grid-row: 2/4;
}

.meet_me_aw_header {
    grid-column: 14/24;
    grid-row: 5;
}
.aw_text {
    grid-column: 14/24;
    grid-row: 6;
}
.aw::before {
    content: open-quote;
    font-size: 26px;
}
.aw::after {
    content: close-quote;
    font-size: 26px;
}
.img_me {
    display: grid;
    grid-column: 4/10;
    grid-row: 4;
    height: auto;
    max-width: 100%;
    justify-self: center;
    align-self: start;
    box-shadow: 20px 15px 5px 0px rgba(0,0,0,0.75);
}
/*  align-* is the ROW y-axis (top to bottom)
    justify-* is the COLUMN x-axis (left to right)
*/
.text_message {
    grid-column: 2/12;
    grid-row: 6/9;
    width: 80%;
    font-style: italic;
    font-family: 'Fauna One', serif;
    font-weight: 900;
    text-align: center;
    line-height: 36px;
    justify-self: center;
    align-self: stretch;
}
.text_message::before {
    content: open-quote;
    font-size: 35px;
}
.text_message::after {
    content: close-quote;
    font-size: 35px;
}

/***** Projects section *****/
.projects_header_text{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, auto);
}
.project_grid_leftside {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(7, 1fr) repeat(5, 30px);
    grid-template-rows: repeat(7, 59px);
    grid-column: 1/13;
    grid-row: 1/6;
}

.project_img_parent {
    grid-column: 1/9;
    grid-row: 1/-1;
    overflow: hidden;
    justify-self: start;
}
.project_img {
    max-width: 100%;
    height: auto;
}
.featured_project {
    grid-column: 9/13;
    grid-row: 1/2;
    justify-self: end;
    margin-top: 41px;
}
.project_name {
    grid-column: 8/13;
    grid-row: 2/3;
    justify-self: end;
}
.project_description {
    grid-column: 5/13;
    grid-row: 3/6;
    z-index: 1;
    background-color: aquamarine;
    padding: 25px;
    border-radius: 5px;
    min-height: 150px;
}
.project_github,
.project_link {
    margin-top: 15px;
}
.project_github {
    grid-column: 11/12;
    grid-row: 7/8;
}
.project_link {
    grid-column: 12/13;
    grid-row: 7/8;
    justify-self: end;
}
.technology1 {
    grid-column: 7/8;
    grid-row: 6/7;
    justify-self: end;
}
.technology2 {
    grid-column: 9/11;
    grid-row: 6/7;
    justify-self: end;
}
.technology3 {
    grid-column: 10/13;
    grid-row: 6/7;
    justify-self: end;
}

/***** Contact section *****/

.contact_section {
    text-align: center;
    height: calc(100vh - 25px);
}
.section_header {
    width: 100%;
    height: 50px;
    margin: 50px 0;
    text-align: center;
    font-size: 28px;
    position: relative;
}

.section_header:after {
    content: '';
    width: 100%;
    border-bottom: solid 1px black;
    position: absolute;
    left: 0;
    top: 66%;
    z-index: 1;
}
.section_header_h1 {
    background-color: #D9B08C;
    width: auto;
    display: inline-block;
    z-index: 3;
    padding: 0 20px 0 20px;
    color: black;
    position: relative;
    font-weight: 400;
    margin: 0;
}
.contact_email_img {
    content: url(/img/email150x150.png);
    width: 100px;
    height: 100px;
    margin-top: 90px;
}
.contact_img:hover {
    border-bottom: 2px solid black;
    transform: translateY(-5px);
}
.contact_email_img:hover {
    content: url(/img/email_open170x170.png);
}
.contact_img {
    width: 50px;
    margin: 25px 25px 0px;
    padding-bottom: 10px;
}
.p_text {
    margin-bottom: 10px;
}
.p_text span {
    font-weight: 900;
}
.strong {
    font-weight: 900;
}

/***** Footer section *****/
.footer {
    text-align: center;
    font-size: 8px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/***** Modal section *****/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#myBtn {
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

/* Modal Content/Box */
.modal-content {
    margin: 0 auto;
    padding: 20px;
    width: 290px;
    height: 320px;
}
.modal_img {
    border-radius: 5px;
}

/* The Close Button */
.close {
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 7px 14px;
    border: none;
    font-size: 15px;
    height: 35px;
}

.close:hover,
.close:focus {
    color: white;
    letter-spacing: 1.5px;
    text-decoration: none;
    cursor: pointer;
} 

/***** MEIDA QUERIES *****/

@media(max-width:992px) {
    #back-to-top-btn { font-size: 22px; width: 40px; height: 40px; bottom: 15px; right: 15px; }
}
@media(max-width:768px) {
    #back-to-top-btn { font-size: 18px; width: 32px; height: 32px; bottom: 6px; right: 6px; }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-12 20:39:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
.fade-in300 {
	-webkit-animation: fade-in300 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 100ms both;
	        animation: fade-in300 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 100ms both;
}
.fade-in500 {
	-webkit-animation: fade-in2500500ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 500ms both;
	        animation: fade-in500 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 500ms both;
}
.fade-in800 {
	-webkit-animation: fade-in800 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 800ms both;
	        animation: fade-in800 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 800ms both;
}

@-webkit-keyframes fade-in300 {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
}
@keyframes fade-in300 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in500 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }
 @keyframes fade-in500 {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }
 @-webkit-keyframes fade-in800 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }
 @keyframes fade-in800 {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }
