@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,400;1,500&display=swap');

/***************************
###### NAV SETTINGS ########
***************************/
.menu-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
.nav-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    transition: top .6s;
    background: rgb(217, 176, 140);
    padding: 10px;
    overflow: hidden;
}
.menu-wrapper nav{
    float: right;
}
.right-nav {
    overflow: hidden;
    list-style: none;
}
.right-nav li {
    float: left;
    margin-left: 16px;
}
.right-nav li a {
    color: #686161;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
}
.right-nav li a:hover{
    color: black;
    border-bottom: 1px solid black;
}
ul .resume a {
    color: black;
}
ul .resume a:hover {
    color:#686161;
    border: 1px solid #686161;
    border-radius: 5px;
    padding: 5px 10px;
}

/*************************
###### FOR JQUERY ########
*************************/
.nav-area.animate {
    top: -71px;
}
.nav-area.sticky {
    top: 0;
    z-index: 99;
}
